body {
  margin: 0;
  font-family: Arial;
  background: #f0f2f5;
}

header {
  background: #1877f2;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

header button {
  font-size: 22px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px;
}

.hidden {
  display: none;
}

.post {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
