body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  text-align: center;
}

main {
  max-width: 500px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}
